.t-check-box:checked~.t-label {
    background-color: #e02424;
    color: #fff;
}

.t-check-box:checked~.t-label p {
    color: #fff;
}

.box-shadow {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.1);
}

.search-box {
    // &:focus {
    //     outline: none;
    //     border: none;
    // }

    // &:active {
    //     outline: none;
    //     border: none;
    // }
}


.service-check-box:checked~.service-label {
    border: 2px solid #e02424 !important;
    background-color: #e024240b;

    .service-name {
        color: #e02424;
    }

    .service-price {
        color: #e02424;
    }
}

.beautician-check-box:checked~.beautician-label {
    background-color: #1f2937;
    color: #fff;

    p {
        color: #fff;
    }

    .no-preference-image {
        filter: invert(1);
    }

}

.drop-shadow {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.time-grid {
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(3, 1fr);


    @media screen and (min-width: 480px) {
        grid-template-columns: repeat(4, 1fr);

    }

    @media screen and (min-width: 520px) {
        grid-template-columns: repeat(5, 1fr);

    }

    @media screen and (min-width: 786px) {
        grid-template-columns: repeat(8, 1fr);

    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(10, 1fr);

    }






}


.check-box-disabled {

    cursor: not-allowed !important;
    opacity: 0.6;
}